.underline-text-main-container {
  display: flex;
  margin-bottom: 40px;
  cursor: pointer;
  align-items: center;
  &:hover {
    .coming-soon-animation {
      //perspective: 1000px;
      //cursor: not-allowed;
      //span {
      //  position: relative;
      //  display: inline-block;
      //  padding: 0;
      //  transition: all 0.2s ease-out;
      //  //transition: transform 0.3s;
      //  transform-origin: 50% 0;
      //  transform-style: preserve-3d;
      //}
      //
      span:before {
      //  position: absolute;
      //  top: 100%;
      //  left: 0;
      //  width: 100%;
      //  height: 100%;
      //  content: attr(data-hover);
      //  transition: color 0.3s;
      //  transform: rotateX(-90deg);
      //  transform-origin: 50% 0;
      //  text-align: center;
        color: darkgrey;
      }

      span {
        transform: rotateX(90deg) translateY(-22px);

      }


      //&:hover span,
      //&:focus span {
        //transform: rotateX(90deg) translateY(-22px);
      //}

      //&:hover span:before,
      //&:focus span:before {
        //color: darkgrey;
      //}
    }

  .underline-text-container {

    .underline-text-divider-container {
      .underline-text-divider-active {
        width: 100%;
      }
    }
    .underline-text {
      transform: translate(0, -15px);
    }
    .orange {
      span {
        color: #EFB95E !important;
      }
    }
    .coral {
      span {
        color: #FF9D72 !important;
      }
    }
    .grey {
      span {
        color: rgb(198, 203, 225) !important;
      }
    }
    .light-coral {
      span {
        color: #FDCDC6 !important;
      }
    }
  }

  .coming-soon-animation {
        //perspective: 1000px;
        cursor: not-allowed;
        span {
          position: relative;
          display: inline-block;
          padding: 0;
          transition: all 0.3s ease-out;
          //transition: transform 0.3s;
          transform-origin: 50% 0;
          transform-style: preserve-3d;
        }

        span:before {
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          content: attr(data-hover);
          transition: color 0.3s;
          transform: rotateX(-90deg);
          transform-origin: 50% 0;
          text-align: center;
        }

        //&:hover span,
        //&:focus span {
        //  transform: rotateX(90deg) translateY(-22px);
        //}
        //
        //&:hover span:before,
        //&:focus span:before {
        //  color: darkgrey;
        //}
    }

    svg {
      transform: translate(20px, -15px);
      #About {
        transition: .5s;

      }
    }
    .arrow-orange  {
      #About {
        stroke: #EFB95E !important;

      }
    }
    .arrow-coral {
      #About {
        stroke: #FF9D72 !important;
      }
    }
    .arrow-grey {
      #About {
        stroke: rgb(198, 203, 225) !important;

      }
    }
    .arrow-light-coral {
      #About {
        stroke: #FDCDC6 !important;
      }
    }


  }


.underline-text-container {
  margin: 0;
    @media only screen and (max-width: 600px) {
      margin-bottom: 20px;
    }
  .underline-text {
    transition: .5s;
  }
  .underline-text-divider-container {
    position: relative;
    height: 2px;
      .underline-text-divider {
        width: 100%;
        height: 100%;
        background-color: black;
        //transition: .5s;
        z-index: 1;
      }
      .underline-text-divider-active {
        position: absolute;
        height: 100%;
        transition: .5s;
        top: 0;
        width: 0;
        background-color: yellow;
        z-index: 2;
      }
    }
  }
  .underline-text-img {
    margin-left: 38px;
    height: 32px;
    width: 32px;
    transition: .5s;
    //color: #0000ff;
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
}

.active {
  width: 100% !important;
}

