.startups-container {
  margin-left: 2.5vw;
  width: 180px;
  @media screen and (max-width: 600px) {
    margin: 6vw;
    width: 16vw;
  }
  .startups-title-first {
  }
  .startups-title-second {
    position: relative;
    top: -10px;
  }
}
