.access-container {
  .access-header-subtitle {
    max-width: 914px;
  }

  .access-about-subtitle {
    max-width: 484px;
  }

  .access-network-image {
    width: auto;
    max-width: 754px;
  }

  .access-partner-image {
    width: auto;
    max-width: 748px;
  }

  .access-header-description {
    max-width: 580px;
  }
  .access-color-block {
    padding: 67px 14vw;
    @media only screen and (max-width: 600px) {
      padding: 43px;
    }
  }
}
