.explore-container {
  padding: 3vw;
  background-color: white;
  .explore-divider {
    width: 15vw;
    height: 1px;
    background-color: #cdcdcd;
    margin: 2vw 0;
  }
  .explore-subtitle {
    height: 5vw;
    margin-top: 1vw;
    align-items: flex-start;
  }
}
