.person-container {
  padding: 0 52px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media only screen and (max-width: 600px) {
    padding: 0 0 0 10vw;
  }
    img {
    height: 318px;
    width: 267px;
    margin-bottom: 41px;
    object-fit: cover;
    @media only screen and (max-width: 600px) {
      width: 70vw;
    }
  }
}
