.marginZero {
  margin-top: 40px;
}

.about-moken-container {
  padding-bottom: 155px;
  .about-moken-header {
    padding: 0 560px 0 440px;
    margin-bottom: 142px;
    width: 540px;
    .about-moken-header-first-title {
      margin-bottom: 20px;
      span {
        letter-spacing: 4px;
      }
    }
    .about-moken-header-second-title {
      margin-bottom: 40px;
    }
  }
  .about-moken-image {
  }

  .about-moken-first-block-image {
    padding-left: 290px;
    width: 100%;
    height: 544px;
    margin-bottom: 185px;
  }

  .about-moken-second-info-section {
    margin-bottom: 252px;
    .about-moken-second-divider {
      width: 1px;
    }
    .about-moken-second-info-section-title {
      margin-bottom: 155px;
    }
    .about-moken-second-info-section-subtitle {
      margin-bottom: 80px;
    }
    .about-moken-second-info-section-text {
      margin-bottom: 80px;
    }
    .about-moken-second-kendra-block {
      display: flex;
      align-items: center;
      margin: 5px 0;
      .about-moken-second-divider {
        height: 171px;
        width: 1px;
        background-color: black;
        margin-right: 45px;
      }
      .about-moken-second-kendra-info-block {
        width: 555px;
        .about-moken-second-kendra-info-text {
          margin-bottom: 50px;
        }
      }
    }
  }
  .about-moken-video-section {
    position: relative;
    height: 750px;
    background-color: #a7a7a7;
    margin-bottom: 178px;
    .about-moken-video-info-block {
      padding: 66px 171px;
      background-color: white;
      position: absolute;
      right: 0;
      bottom: 0;
      .about-moken-video-info-block-first-title {
        margin-bottom: 10px;
      }
    }
  }

  .about-name-color-block {
    margin-bottom: 114px;
    padding-top: 140px;
    padding-bottom: 180px;
  }
  .collaborate {
    width: 300px;
    margin-bottom: 118px
  }

}
