.container {
  position: relative;
  @media screen and (max-width: 600px) {
    margin-bottom: 6vw;
  }
  .divider {
    width: 100%;
    //height: 1px;
    //background-color: black;
    //@media screen and (max-width: 600px) {
    //  height: .6vw;
    //}
  }
  //.textarea {
  //  //resize: auto;
  //}
  .buttonContainer {
    display: flex;
    flex-direction: row;
    //margin-bottom: 0.5vw;
    //height: 2vw;
    //@media screen and (max-width: 600px) {
    //  height: 5vw;
    //  margin-bottom: 2vw;
    //}
    @media only screen and (max-width: 600px) {
      padding: 35px 0 10px 0;
    }
    .input {
      width: 100%;
      border: 0;
      outline: 0;
      font-family: 'Latinka Light', sans-serif;
      font-size: 16px;
      @media screen and (max-width: 600px) {
        width: 70vw !important;
        font-size: 4vw;
      };
    }

    .goButton {
      border: 0;
      outline: 0;
      background-color: transparent;
      position: absolute;
      top: 28px;
      cursor: pointer;
      right: 0;
      :hover {
        font-weight: 900;
      }
      .text-container {
        span {
          @media screen and (max-width: 600px) {
            font-size: 4vw !important;
          };
        }
      }
    }
  }
}

.textarea {
  width: 100%;
  min-height: 155px;
  height: 100%;
}


.float-label {
  display: flex;
  flex-direction: column;
  width: 100%;
  //min-width: 350px;
  position: relative;

}

.float-label input {
  width: 100%;
  height: 48px;
  padding-top: 14px;
  outline: 0;
  //border-bottom: 1px solid #ddd;
  border: 0;
  background: transparent;
  border-bottom: 2px solid black;
  transition: 1s;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

.Error {
  border-color: red!important;
  color: red !important;
}

.float-label label {
  //font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #999;
  pointer-events: none;
  position: absolute;
  transform: translate(0, 30px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}

.float-label:focus-within label {
  transform: translate(0, 0px) scale(0.75);
}

.float-label:focus-within input {
  border-bottom: 2px solid #263da8;

}
.float-label .Active {

  //transform: translate(0, 5px) scale(0.75);
  transform: translate(0, 1px) scale(0.75);
}






.float-label-textarea {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 350px;
  position: relative;

}

.float-label-textarea textarea {
  width: 100%;
  padding-top: 14px;
  outline: 0;
  border: 0;
  border-bottom: 2px solid black;

  background: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  transition: 1s;
}

.float-label-textarea label {
  //font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  color: #999;
  pointer-events: none;
  position: absolute;
  transform: translate(0, 26px) scale(1);
  transform-origin: top left;
  transition: all 0.2s ease-out;
}

.float-label-textarea:focus-within label {
  transform: translate(0, -4px) scale(0.75);
}
.float-label-textarea:focus-within textarea {
  border-bottom: 2px solid #263da8;
}

.float-label-textarea .Active {
  transform: translate(0, -4px) scale(0.75);
}



.input-error-message {
  //top: 10px;
  //position: relative;
  position: absolute;
  bottom: -20px;
}



