.home-explore-item-container {
  width: 202px;
  padding: 32px 36px 36px 36px;
  background-color: white;
  border-radius: 40px;
  margin: 21px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 20px 100px -30px rgba(0, 0, 0, .35);
  .home-explore-item-title {
      margin-bottom: 39px;
  }
  .home-explore-item-description {
    margin-bottom: 25px;
    span {
      text-align: center;
    }
  }
  .home-explore-item-moken-title-container {
    margin-bottom: 42px;
    display: flex;
    .home-explore-item-moken-title-first {

    }
    .home-explore-item-moken-title-second {

    }
  }
  .home-explore-btn {
    padding: 22px 0;
    width: 100%;
  }
}
