.agency-header-subtitle {
  max-width: 816px !important;
}
.about-agency-projects-slider {
  padding-left: 4vw;
}
::-webkit-scrollbar {
  display: none;
}
.btn-info-container {
  padding: 0 14vw;
  .btn-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16vw;
  }
}

.about-agency-container {
  .leads-container {
    margin-bottom: 207px;
    padding-left: 10.5vw;
    //  padding: 0 0 4vw 12vw;
    .apps-container {
      display: flex;
      justify-content: space-between;

      .app-container {
        background-color: #880000;
        padding: 2vw;
        height: 40vw;
        width: 30vw;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        &:first-of-type {
          margin-top: 5vw;

          .text-container {
            position: relative;
            left: -4vw;
          }
        }

        &:last-of-type {
          align-items: flex-end;

          .text-container {
            position: relative;
            left: 4vw;
          }
        }
      }
    }
  }
  .our-partners-info-container {

  }

  .our-partners-first-img {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5vw;
    img {
      height: 30vw;
    }
  }
  .about-agency-increase-container {
    padding-left: 14vw;
    margin-bottom: 5vw;
    .text-container {
      max-width: 863px;
      span {
        line-height: 53px;
        @media only screen and (max-width: 600px) {
          line-height: 37px;
        }
      }
    }
    @media only screen and (max-width: 600px) {
      width: auto;
      padding: 0 43px;
      margin-bottom: 25px;
    }
  }
}
.client-say-wrapper-container {
  display: flex;
  justify-content: center;
  margin-bottom: 400px;
  .client-say-container {
    padding: 86px 80px 40px 80px;
    background-color: white;
    border-radius: 40px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.04);
  }
  .client-say-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 100px;
  }
}

.agency-products-container {
  display: flex;
  margin-bottom: 203px;
  overflow-x: scroll;
  //padding: 0 14vw;

}

.agency-product-container {
  //margin-right: 82px;
  outline: none;
  img {
    outline: none;
    width: 567px;
    height: 793px;
    object-fit: fill;
    //background-color: #880000;
    margin-bottom: 20px;
  }
}

.agency-swiper-container {
  padding-left: 12vw;
  margin-bottom: 207px;
}

.about-agency-swiper-container {
  //padding-left: 5vw;
}

.agency-impact-description {
  max-width: 887px !important;
}

.about-agency-programs-subtitle {
  max-width: 929px;
}

.agency-impact-subtitle {
  max-width: 978px !important;
}

.agency-email-form-title {
  max-width: 478px;
  span {
    text-align: center;
  }
}
