
.people-main-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
  .people-employees-container {
    //height: 318px;
    background-color: black;
    width: 100%;
    margin-bottom: 50px;
  }

  .people-container {
    margin-bottom: 150px;
    display: flex;

    @media only screen and (max-width: 600px) {
      align-items: flex-start !important;
    }
    .people-second-container {
      width: 86vw;
      display: flex;
      justify-content: space-between;
      @media only screen and (max-width: 600px) {
        overflow-y: scroll;
        width: auto;
      }
    }
  }
}

