.people-container {
  margin-bottom: 150px;
  display: flex;

  @media only screen and (max-width: 600px) {
    align-items: flex-start !important;
  }
  .people-second-container {
    width: 86vw;
    display: flex;
    @media only screen and (max-width: 600px) {
      overflow-y: scroll;
      width: auto;
    }
  }
}
