.about-programs-container {
  padding-bottom: 145px;
  .about-programs-partnerships-container {
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
    margin-bottom: 184px;
    @media screen and (max-width: 600px) {
      padding: 43px;
      overflow-x: scroll;
      display: none;
    }
  }
  .about-programs {
    .about-programs-title {
      margin-bottom: 166px;
      @media screen and (max-width: 600px) {
        margin-bottom: 50px;
      }
    }

    .about-program-text {
      margin-bottom: 100px;
      width: 52vw;
      padding: 0 14vw;
      @media screen and (max-width: 600px) {
        width: auto;
        margin-bottom: 90px;
      }
    }
    .about-programs-list {
      //display: flex;
      flex-wrap: wrap;
      padding: 0 14vw;
      margin-bottom: 184px;
      display: grid;
      //grid-template-columns: 178px 178px 178px;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 60px;
      grid-column-gap: 60px;
      justify-content: center;
      @media screen and (max-width: 600px) {
        padding: 0 43px;
        grid-template-columns: 1fr;
      }
      .about-programs-item {
        margin-bottom:10vw;
      }

    }
    .three-fr {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .about-programs-programs {
    padding: 0 10vw;
    margin-bottom: 268px;
    @media only screen and (max-width: 600px) {
      padding: 0 43px;
      margin-bottom: 60px;
    }
    div {
      .about-program-item-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }
  }
}
