.about-programs-container {
  .about-programs-partnerships-container {
    //display: flex;
    justify-content: space-between;
    padding: 0 10vw;
    margin-bottom: 184px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    @media only screen and (min-width: 601px) and (max-width: 1250px) {
      grid-template-columns: 1fr 1fr;
      grid-row-gap: 40px;
      grid-column-gap: 40px;

    }

      @media screen and (max-width: 600px) {
      padding: 43px;
      overflow-x: scroll;
      display: none;
    }
  }
  .about-programs {
    .about-programs-title {
      margin-bottom: 166px;
      @media screen and (max-width: 600px) {
        margin-bottom: 50px;
      }
    }

    .about-program-text {
      margin-bottom: 100px;
      width: 52vw;
      padding: 0 14vw;
      @media screen and (max-width: 600px) {
        width: auto;
        margin-bottom: 90px;
      }
    }
    .about-programs-list {
      display: flex;
      flex-wrap: wrap;
      padding: 0 14vw;
      margin-bottom: 184px;
      //display: grid;
      //grid-template-columns: 178px 178px 178px;
      //grid-template-columns: 1fr 1fr;
      //grid-row-gap: 60px;
      //grid-column-gap: 60px;
      justify-content: space-between;
      @media screen and (max-width: 600px) {
        padding: 0 43px;
        grid-template-columns: 1fr;
      }
      .about-programs-item {
        margin-bottom:10vw;
      }

    }
    .three-fr {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      @media only screen and (min-width: 1000px) and (max-width: 1550px) {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 50px;
        grid-column-gap: 50px;
      }
      @media only screen and (min-width: 601px) and (max-width: 999px) {
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
        grid-column-gap: 50px;
      }
    }
  }

  .about-programs-programs {
    padding: 0 10vw;
    margin-bottom: 268px;
    @media only screen and (max-width: 600px) {
      padding: 0 43px;
      margin-bottom: 60px;
    }
    div {
      .about-program-item-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        @media only screen and (min-width: 601px) and (max-width: 1250px) {
          margin-top: 50px;
        }
      }
    }
  }
}

.about-program-numbers-container {
  padding-left: 50px;
  display: flex;
  flex-direction: row;
  @media only screen and (max-width: 600px) {
    padding-left: 0;
    flex-direction: column;
  }
  @media only screen and (min-width: 601px) and (max-width: 1250px) {
   flex-direction: column;
  }
}

