.event-container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 4vw;
  //padding: 4.1vw 9.5vw 2vw 9.5vw;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    padding-bottom: 25vw;
    margin-bottom: 25vw;
  }
  div {
    .events-button-container {
      display: flex;
      justify-content: flex-end;
      @media screen and (max-width: 600px) {
        justify-content: center;
      }
    }
  }
}
