.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}


.opportunities-container {
  padding: 0 0 5vw 0;
  @media screen and (max-width: 600px){
    padding: 20vw 0;
  }

  .opportunities-header-subtitle {
    max-width: 965px;
  }

  .opportunities-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 14vw;
  }
  .opportunities-image-block-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 159px;
    .opportunities-image-block {
      width: 69vw;
      height: 21vw;
      background-color: black;
    }
  }
  .opportunities-second-title {
    margin: 4vw 0 9.5vw 0;
    @media screen and (max-width: 600px){
      width: auto;
      padding-right: 14vw;
      margin-bottom: 16vw;
      margin-top: 16vw;
      span {
        font-size: 7vw !important;
        line-height: 8vw !important;
      }
    }
  }

}
