.company-container {
  //display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, .18);
  padding: 67px 70px 50px 70px;
  //padding: 5vw 3.5vw 1vw 4.5vw;
  display: grid;
  cursor: pointer;
  grid-template-columns: 1fr 1fr 1fr;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    grid-template-columns: 1fr;
    padding: 10vw 0;
  }
    div {
    .company-name {
      margin-bottom: 20px;
      span {
        letter-spacing: 4px;
        @media only screen and (max-width: 600px) {
          letter-spacing: 4px;
        }
      }
      @media screen and (max-width: 600px) {
        margin-bottom: 5.5vw;
      }
    }
    .project-name {
      @media screen and (max-width: 600px) {
        margin-bottom: 6vw;
      }
    }
    .company-city {
      margin-bottom: .5vw;
      span {
        letter-spacing: 4px;
      }
      @media screen and (max-width: 600px) {
        margin-bottom: 3vw;
      }
    }
    .company-owner {
      margin-bottom: 3vw;
    }
    .company-arrow-container {
      display: flex;
      justify-content: flex-end;
      .company-arrow {
        //height: 2vw;
        width: 27px;
        @media screen and (max-width: 600px) {
          height: 6vw;
          position: initial;
          width: auto
        }
      }
    }

  }
  .company-owner-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:nth-of-type(3n) {
      align-items: flex-end;
    }
    @media screen and (max-width: 600px) {
      flex-direction: row;
      }
    }
  .company-description {
    width: 27vw;
    align-items: flex-start;
    @media screen and (max-width: 600px) {
      display: none;
    }
  }
}

.last-item {
  border-bottom: 1px solid rgba(0, 0, 0, .18);

}
