.defaultAnimationContainer {

  &:hover {
    background-color: white !important;
    border-color: black !important;
    .text-container {
      span {
        color: black !important;
      }
    }

    .lowerMenuText {

    }
  }
}
.lowerMenuContainer {
  padding: 20px 0 4px 0 !important;
  .lowerMenuBorder {
    width: 0;
    height: 2px;
    background-color: #007aff;
    margin-top: 5px;
    transition: .5s;
  }
  &:hover {
    transform: translate(0, -5px);
    .lowerMenuBorder {
      width: 100%;
    }
  }


}


.button-main-container {
  padding: 31px 46px;
  outline: none;
  font-size: 1vw;
  letter-spacing: 4px;
  cursor: pointer;
  transition: .2s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .disabled {
    opacity: 0.5 !important;
  }




  .button-container {
    //padding: 1.4vw 3vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-family: "Latinka SemiBold", sans-serif;

    //height: 40px;
    @media screen and (max-width: 600px) {
      font-size: .95vw;
      padding: 4vw 6vw;
      letter-spacing: 3px;
    }


  }

  .button-text {
    &:hover {
      color: black;
    }
  }

  .black {
    background-color: black;
    color: white;
    &:hover {
      background-color: white;
      border-color: black;
      color: black;
    }
  }
  .white {
    background-color: white;
    color: black;
    .text-container {
      span {
        color: white;
      }
    }
  }

  .innovation {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    padding: 24px 44px;
    border-width: 2px;
  }

  .innovation-bordered {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
  }
}
