.title-sub-description-container {
  margin-bottom: 181px;
  @media screen and(max-width: 600px) {
    margin-bottom: 110px;
  }
  .title-sub-description-title {
    margin-bottom: 152px;
    @media screen and(max-width: 600px) {
      margin-bottom: 50px;
    }
  }
  .title-sub-description-subtitle {
    max-width: 755px;
    padding-left: 14vw;
    margin-bottom: 45px;
    span {
      line-height: 53px;
    }
    @media screen and(max-width: 600px) {
      margin-bottom: 64px;
      width: auto;
      padding: 0 43px;
      span {
        line-height: 25px;
      }
    }
    @media screen and(max-width: 903px) {
      width: auto;
      padding-right: 14vw;
    }
      span {
      line-height: 53px;
      letter-spacing: .5px;
      @media screen and(max-width: 600px) {
        line-height: 43px;
      }
    }
  }
  .title-sub-description-description {
    max-width: 560px;
    padding-left: 14vw;
    @media screen and(max-width: 600px) {
      width: auto;
      padding: 0 43px;

    }
    span {
      line-height: 30px;
      letter-spacing: .18px;
      @media screen and(max-width: 600px) {
        line-height: 26px;
      }
    }
  }
  .title-sub-description-btn-container {
    padding-left: 14vw;
    margin-top: 114px;
    @media screen and(max-width: 600px) {
      margin-top: 55px
    }
  }
}
