.community-container {
  position: relative;
  .community-header-description {
    max-width: 613px;
  }
  .community-future-description {
    max-width: 755px;

  }
  .community-first-image {
    margin-bottom: 209px;
  }
  .community-future-subtitle {
    max-width: 879px;
    margin-bottom: 77px;
  }
  .community-partners-subtitle {
    max-width: 1024px;
  }
  .community-swiper {
    padding-left: 6vw;
  }
  .community-absolute-img {
    position: absolute;
    right: 0;
    z-index: -1;
    top: 0;
    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
  .future-container {
    padding: 0 16vw;
    margin-top: 9.5vw;
    @media only screen and (max-width: 600px) {
      padding: 0 44px;
    }
    img {
      background-color: grey;
      width: 50vw;
      height: 35vw;
    }
  }

  .right-image {
    background-color: grey;
    height: 35vw;
    width: 84vw;
    margin-left: 16vw;
    margin-bottom: 13.6vw;
    @media only screen and (max-width: 600px) {
      height: 408px;
    }
  }

  .network-container {
    display: flex;
    align-items: center;
    padding-left: 14vw;
    margin-top: 50px;
    .text-submit {
      margin: 0;
    }
    @media only screen and (max-width: 600px) {
      justify-content: space-between;
      padding: 0 43px;
      margin-top: 65px;
    }
    img {
      height: 3vw;
      margin-left: 1vw;
      @media only screen and (max-width: 600px) {
        height: 12vw;
      }
    }
  }

  .community-color-block {
    padding: 3vw 14vw;
    @media only screen and (max-width: 600px) {
      padding: 6vw 44px;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 17.4vw;
    @media only screen and (max-width: 600px) {
      align-items: flex-start;
      flex-direction: column;
      padding: 30px 43px;
      margin-bottom: 130px;
      div {
        &:first-of-type {
          margin-bottom: 30px;
        }
      }
    }
  }

  .community-leads-container {
    padding: 0 16vw;
    margin-top: 10vw;
    margin-bottom: 13vw;
    @media only screen and (max-width: 600px) {
      padding: 0 44px;
    }
    .text-container {
      margin-bottom: 64px;
    }
    .community-capabilities-container {
      display: flex;
      justify-content: space-between;
      margin-top: 4.95vw;
      div {
        width: 30vw;
        align-items: flex-start;
      }

      @media only screen and (max-width: 600px) {
        flex-direction: column;
        div {
          width: auto;
          &:first-of-type {
            margin-bottom: 32px;
          }
        }
      }
    }
  }

  .community-swiper-container {
    margin-bottom: 16.3vw;
  }

}
