.menu-screen-top-container {
  display: flex;
  align-items: flex-end;
  background-color: black;
  justify-content: space-between;
}

.menu-screen-container {
  //width: 100vw;
  display: flex;
  width: calc(100vw - 150px);
  flex-direction: column;
  //position: absolute;
  z-index: 1;
  padding-top: 137px;
  min-height: calc(100vh - 137px);
  .burger-container {
    position: absolute;
    right: 60px;
    top: 40px;
  }
  .menu-screen-top-columns-container {
    padding: 20px 0 65px 135px;
    display: flex;
  }
  .menu-screen-top-column-divider {
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 65px;
    position: relative;
    //left: -15px;
  }

  .menu-screen-bottom-columns-container {
    padding: 76px 0 0 135px;
    display: flex;
    .menu-screen-bottom-container {
      display: flex;
      flex-wrap: wrap;
      //display: grid;
      //grid-template-columns: 1fr 1fr 1fr 1fr;
      //grid-row-gap: 30px;
      //grid-column-gap: 30px;
      @media only screen and (max-width: 1625px) {
        //grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .menu-screen-container {

    .menu-screen-top-columns-container {
      flex-wrap: wrap;
      .menu-screen-top-column-container {
        margin-bottom: 50px;
      }
    }
    .menu-screen-bottom-columns-container {
      .menu-screen-bottom-container {
        //flex-wrap: wrap;
        div {
          margin-bottom: 50px;
        }
      }

    }
  }
}

.social-main-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  .socials-header-menu-container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 45px 0;
    width: 130px;

    background-color: white;
    //position: absolute;
    //right: 0;
    //bottom: 0;
    a {
      cursor: pointer;
      img {
        height: 37px;
        object-fit: fill;
        padding: 17px;
      }
    }
  }

}


@media only screen and (max-width: 601px) {
  .menu-screen-container {
    .menu-screen-top-columns-container {
      padding: 48px 67px 45px 67px;
      .menu-screen-top-column-container {
        margin-right: 0;
        width: auto;
      }
    }
    .menu-screen-bottom-columns-container {
      padding: 48px 67px 45px 67px;
      flex-direction: column;
      position: relative;
      .menu-screen-bottom-container {
        display: flex;
        justify-content: space-around;
        width: 100%;
        flex-wrap: wrap;

        div {
          .text-container {
            margin-right: 0!important;
          }
        }
      };
      .socials-header-menu-container {
        flex-direction: row;
        height: 50px;
        padding: 5vw;
        width: 90vw;
        margin-left: 0;
        a {
          img {
            height: 5vw

          }
        }
      }
    }
  }
}


