.product-testing-team-container {
  .product-email-form {
    padding: 7vw 0;
  }
  .product-testing-info-container {

    .joins-container {
      display: flex;
      padding: 0 14vw;
      margin-bottom: 465px;
      @media only screen and (max-width: 600px) {
        margin-bottom: 142px;
        padding-top: 50px;
      }
      .joins-title {
        align-items: flex-start;
        margin-right: 7vw;
        @media only screen and (max-width: 600px) {
          display: none;
        }
      }
    }
    .circle-container {
      margin: 0 14vw 12vw 0;
      display: flex;
      justify-content: flex-end;
      @media only screen and (max-width: 600px) {
        margin-bottom: 0;
      }
      img {
        @media only screen and (max-width: 600px) {
          width: 100%;
          margin-bottom: 135px;
        }
      }
    }
    .product-testing-title {
      margin-bottom: 12vw;
    }
  }

  .product-testing-team-circle-container {
    position: relative;
    @media only screen and (max-width: 600px) {
      display: none;
    }
      img {
      position: absolute;
      right: 241px;
      height: 324px;
      width: 397px;
      bottom: 20px
    }
  }

}
