.product-testing-team-container {
  .product-email-form {
    padding: 7vw 0;
  }
  .product-testing-info-container {

    .joins-container {
      display: flex;
      padding: 0 14vw;
      margin-bottom: 465px;
      .joins-title {
        align-items: flex-start;
        margin-right: 7vw;
      }
    }
    .circle-container {
      margin: 0 14vw 12vw 0;
      display: flex;
      justify-content: flex-end;
    }
    .product-testing-title {
      margin-bottom: 12vw;
    }
  }

}
