.start-up-smart-container {
  padding-bottom: 8vw;
  @media only screen and (max-width: 600px) {
    padding-bottom: 32vw;
  }
  .start-up-smart-first {
    padding: 10.5vw 32vw 0 26vw;
    @media only screen and (max-width: 600px) {
      padding: 30vw 10vw;
    }
      .start-up-smart-first-text-first {
        margin-bottom: 1.8vw;
        letter-spacing: 4px;
        @media only screen and (max-width: 600px) {
          margin-bottom: 16vw;
          letter-spacing:  3px;
        }
    }
    .start-up-smart-first-text-second {
      span {
        line-height: 4.9vw;
      }
    }
  }
  .start-up-smart-second {
    padding: 10vw 20vw 10vw 0;
    @media only screen and (max-width: 600px) {
      margin-bottom: 16vw;
      img {
        height: 35vw;
      }
    }
    img {
      width: 100%;
    }
  }
  .start-up-smart-third-title {
    //margin-bottom: 8vw;
    padding-left: 10vw;
  }
  .start-up-smart-third {
    padding: 7vw 30vw 0 14vw;
    @media only screen and (max-width: 600px) {
      padding: 10vw;
    }

    .start-up-smart-third-text-first {
      margin-bottom: 2vw;
    }
    .start-up-smart-third-text-second {
      margin-bottom: 2vw;
    }
    .start-up-smart-third-text-third {
      letter-spacing: 3px;
    }
  }
  .start-up-smart-forth {
    padding: 10vw 0 0 17.5vw;
    @media only screen and (max-width: 600px) {
      img {
        height: 35vw;
      }
    }
    img {
      width: 100%;
    }
  }
  .start-up-smart-fifth {
    padding: 10vw 35vw 0 35vw;
    @media only screen and (max-width: 600px) {
      padding: 10vw;
    }
    .start-up-smart-fifth-text-first {
      margin-bottom: 4.9vw;
      span {
        letter-spacing: 4px;
      }
    }
    .start-up-smart-fifth-text-second {
      margin-bottom: 2.5vw;
    }
    .start-up-smart-fifth-text-third {
      span {
        line-height: 2vw;
      }
    }
  }

  .packages-container {
    padding: 10vw;
  }
  .start-up-smart-sixth {
    padding: 10vw 30vw;
    @media only screen and (max-width: 600px) {
      padding: 10vw 25vw;
    }
    .start-up-smart-sixth-text-first {

      margin-bottom: 2vw;
      @media only screen and (max-width: 600px) {
        margin-bottom: 16vw;
      }
        span {
        letter-spacing: 4px;

      }
    }
  }
}
