.for-startups-container {
  .for-startups-discover-title {
    max-width: 588px;
    width: auto;
  }
  .for-startups-discover-description {
    max-width: 538px;
  }
  .for-startups-header-subtitle {
    max-width: 960px;
  }
  .for-startups-header-description {
    max-width: 707px;
  }
  .for-startups-color-block {
    padding: 67px 14vw;
    @media only screen and (max-width: 600px) {
      padding: 43px;
    }
  }
  .for-startups-programs-subtitle {
    max-width: 1017px;
  }
}
