.burger-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
  border-width: 0;
  outline: transparent;
  cursor: pointer;
  div {
    height: 2px;
    margin: 3px 0;
    background-color: black;
    &:nth-child(1) {
      width: 30px;
    }
    &:nth-child(2) {
      width: 23px;
    }
    &:nth-child(3) {
      width: 30px;
    }
  }
}
