.burger-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  background-color: white;
  border-width: 0;
  outline: transparent;
  cursor: pointer;
  justify-content: center;
  .cross-icon {
    width: 2vw;
    height: 2vw;
    cursor: pointer;
    @media only screen and (max-width: 600px) {
      width: 25px;
      height: 25px;
      }
    }
  div {
    height: 1px;
    margin: .25vw 0;
    background-color: black;
    &:nth-child(1) {
      width: 1.7vw;
    }
    &:nth-child(2) {
      width: 1.4vw;
    }
    &:nth-child(3) {
      width: 1.7vw;
    }

  }
}

@media only screen and (max-width: 600px) {
  .burger-container {
    height: auto;
    div {
      height: 2px;
      margin: 3px 0;

      &:nth-child(1) {
        //width: 7vw;
        width: 25px
      }
      &:nth-child(2) {
        //width: 4vw;
        width: 22px

      }
      &:nth-child(3) {
        //width: 7vw;
        width: 25px

      }

    }
  }
}
