.home-description-data-container {
  max-width: 586px;
  @media only screen and (max-width: 1101px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .home-description-data-title {
    margin-bottom: 50px;
    span {
      line-height: 45px;
      @media only screen and (max-width: 1101px) {
        text-align: center;
      }
    }
  }
  .home-description-data-description {
    margin-bottom: 50px;
    max-width: 476px;
    span {
      line-height: 30px;
    }
  }
}
