.menu-screen-bottom-column-container {
  //width: 360px;
  margin-right: 150px;
  .black-menu-bottom-column-item {
    transition: 1s;
    cursor: pointer;
    &:hover {
      opacity: .6;
    }
  }
}

