.swiper-button-prev {
 display: none;
}

.swiper-button-next {
  display: none;
}

.swiper-component-container {
  margin-bottom: 200px;
  cursor: grab;
  @media only screen and (max-width: 600px) {
    margin-bottom: 100px;
  }
}

.grabbing {
  cursor: grabbing;

}


.cursor-pointer {
  width: 90px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 90px;
  background-color: black;
  position: absolute;
  z-index: 9999999;
  top: calc(50% - 45px);
  cursor: pointer;
  opacity: .5;
  //transition: 1s;
  &:hover {
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);
    opacity: 1;
    //transform: scale(1.1);
  }
  @media only screen and (max-width: 600px) {
    display: none;
  }
  img {
    width: 27px;
    height: 27px;
  }
}

.swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234c71ae'%2F%3E%3C%2Fsvg%3E") !important;
}

.swiper-wrapper {
  @media only screen and (max-width: 600px) {
    padding: 0;
  }

}



.button-right {
  right: 90px;
}

.button-left {
  transform: rotate(-90deg);
  left: 90px;
}

.swiper-button-disabled {
  display: none;
}

//.swiper-slide{ width: auto !important; flex-basis: 100%; min-width: 0!important; }

