.home-header-component {
  display: flex;
  margin-bottom: 83px;
  align-items: flex-start;
  @media only screen and (max-width: 1101px) {
    //flex-direction: column;
    justify-content: center;
  }
  @media only screen and (max-width: 600px) {
    //flex-direction: column;
    flex-direction: column;
  }
  .home-header-number {
    align-items: flex-start;
    width: 41px;
  }
  .home-header-title {
    max-width: 532px;
    span {
      line-height: 100px;
      @media screen and(max-width: 600px) {
        line-height: 52px;
      }
    }
  }
}
