.people-leadership-container {
  //padding-bottom: 15vw;
  .people-leadership-team-subtitle {
    max-width: 768px;
    margin-bottom: 92px;
  }
  .people-leadership-team-description {
    max-width: 673px;
  }
  .people-leadership-image {
    width: 100vw;
    margin-bottom: 12.4vw;
  }
  .padding-container {
    padding: 0 38vw 0 14vw;
    @media only screen and (max-width: 600px) {
      padding: 0 10vw;
    }
  }
  .people-images-container {
    //display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 12vw;
    margin-bottom: 332px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 60px;
    @media only screen and (max-width: 600px) {
      margin-bottom: 185px;
      grid-template-columns: 1fr 1fr;
    }
    .people-images-item {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        object-fit: fill;
        max-width: 250px;
        @media only screen and (max-width: 600px) {
          max-width: initial;
          height: 25px;
        }
      }
    }

  }
}
