.title-sub-desc-rounded-container {
  padding: 49px 35px;
  border-radius: 40px;
  box-shadow: 0 0 20px 20px rgba(218, 218, 218, 0.5);
  width: 255px;
  //width: 30vw;
  margin-right: 30px;
  @media only screen and (max-width: 600px) {
    width: auto;
  }
  .title-sub-desc-rounded-title {
    margin-bottom: 12px;
      @media only screen and (max-width: 600px) {
        width: calc(100vw - 86px - 70px);
      }
    span {
      letter-spacing: .25vw;
      @media only screen and (max-width: 600px) {
        letter-spacing: 4px;
      }
    }
  }
  .title-sub-desc-rounded-subtitle {
    margin-bottom: 40px;

  }
  .title-sub-desc-rounded-description {
    //width: 55vw;
  }
}
