.expertise-container {
  padding-bottom: 15vw;
  .expertise-circle-main {
    height: 40vw;
    width: 40vw;
    background-color: #ffc4af;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    //position: absolute;
    right: -11vw;
    top: 6vw;
    z-index: -1;
    @media only screen and (max-width: 600px) {
      display: none;
    }
      .expertise-circle-second {
      height: 27vw;
      width: 27vw;
      background-color: #263da8;
      border-radius: 100%;
    }
  }
  .expertise-first-wrapper {
    padding: 0 0 0 168px;
    margin-bottom: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img {
      width: 800px;
      height: 800px;
    }
    @media only screen and (max-width: 600px) {
      background-image: url(../../images/expertiseMobHeader.png);
      background-repeat: no-repeat;
      padding: 60vw 10vw 100vw 10vw;
      background-size: cover;
      margin-bottom: 100px;
    }
      .expertise-title {
        margin-bottom: .5vw;
        padding-top: 420px;
      span {
        letter-spacing: .2vw;
        margin-bottom: 1vw;
        @media only screen and (max-width: 600px) {
          margin-bottom: 5vw;
        }
      }
    }
  }
  .expertise-started-title {
    //margin: 0 0 10vw 0;
    padding-left: 10vw;
  }
  .expertise-second-wrapper {
    padding: 0 14vw;
    .expertise-started-subtitle {
      width: 52vw;
      @media only screen and (max-width: 600px) {
        width: auto;
      }
    }

  }
  .expertise-items-container {
    padding: 0 8vw 12vw 10vw;
  }
  .expertise-bottom-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 4.2vw;
    .expertise-bottom-block-container {
      width: 80.6vw;
      background-color: black;
      padding: 8vw 0 8vw 9.4vw;
      display: flex;
      @media only screen and (max-width: 600px) {
        flex-direction: column-reverse;
      }
        .expertise-bottom-info-container {
        .expertise-bottom-first-info-container {
          margin-right: 12vw;
          .expertise-bottom-first-info-title {
            padding: 0;
            background-color: black;
            margin-bottom: 4.5vw;
          }
          .expertise-bottom-first-info-text-first {
            margin-bottom: 1.7vw;
            span {
            }
          }
          .expertise-bottom-first-info-text-second {
            margin-bottom: 1.8vw;
              span {
              }
          }
          .expertise-bottom-first-info-text-third {
            margin-bottom: 70px;

          }
        }
      }
      .expertise-bottom-btn-container {
        display: flex;
        @media only screen and (max-width: 600px) {
          padding-right: 10vw;
          flex-direction: column;
          button {
            width: 100%;
            &:first-child {
              margin-bottom: 15px;
            }
          }
        }
      }
    }
    img {
      //width: 50vw
      width: 100%;
      @media only screen and (max-width: 600px) {
        margin-bottom: 30px;
      }
    }
  }
}
