.careers-container {
  .image-section {
    width: 100vw;
    background-color: grey;
  }
  .careers-third-section {
    padding: 10vw;
    position: relative;
    .circles {
      height: 20vw;
      position: absolute;
      right: 11vw;
      top: 1vw;
      @media only screen and (max-width: 600px) {
        top: -150px;
        height: 90px;
      }
    }
    .careers-third-title {
      margin: 0;
      padding: 0;
      @media only screen and (max-width: 600px) {
        margin-bottom: 50px;
      }
    }
    .careers-third-container {
      padding: 0 4vw;
      margin-top: 10vw;
      .careers-third-subtitle {
        margin: 0;
        padding: 0;
        max-width: 852px;
      }
      .benefits-container {
        margin-top: 7.8vw;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @media only screen and (max-width: 600px) {
          flex-direction: column;
          margin-top: 115px;
        }
      }
    }
  }
  .careers-forth-section {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10vw;
    .careers-black-block-container {
      width: 81vw;
      background-color: black;
      padding: 131px 0 102px 156px;
      display: flex;

      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 600px) {
        width: auto;
        padding: 82px 0 120px 43px;
      }
      @media screen and (min-width: 601px) and (max-width: 1350px) {
        flex-direction: column;
      }
        .careers-black-block-left-container {
          margin-right: 153px;
        .title-comp-container, .subtitle-comp-container, .description-container  {
          padding-left: 0;
          max-width: 570px;
          @media screen and (max-width: 600px) {
            width: auto;
          }
            @media screen and (min-width: 601px) and (max-width: 1350px) {
              width: 70%;
            }
          }
          .careers-mob-img {
            display: none;
            @media screen and (max-width: 600px) {
              display: block;
              margin-bottom: 86px;
              width: 100%;
            }
          }
        .title-comp-container {
          margin-bottom: 1vw;
        }
        .careers-black-block-title {
          @media screen and (max-width: 600px) {
            margin-bottom: 55px;
          }
        }
        .description-container {
          margin-bottom: 2vw;
        }
        .subtitle-comp-container {
          margin: 5vw 0 1vw 0;
          @media screen and (max-width: 600px) {
            margin: 30px 0;
          }
        }
      }
      .careers-black-block-right-container {
        img {
          width: 40vw;
          @media screen and (min-width: 601px) and (max-width: 1350px) {
            margin-top: 100px;
            width: 80%;
          }
        }

        @media screen and (max-width: 600px) {
          display: none;
        }
      }
    }
  }
}


.careers-header-description {
  max-width: 728px !important;
}

.careers-header-subtitle {
  max-width: 728px !important;
}
