.labs-benefits-container {
  padding: 0 12vw;
  display: flex;
  //margin-bottom: 200px;
  margin-bottom: 12.5vw;
  @media only screen and (min-width: 601px) and (max-width: 1100px) {
    flex-direction: column;
  }
    @media screen and (max-width: 600px) {
    padding: 0 43px;
    flex-direction: column;
    margin-bottom: 107px;
  }
}

.labs-benefits-title {
  //margin-bottom: 180px;
  padding-left: 10vw;
  @media screen and (max-width: 600px) {
    margin-bottom: 50px;
  }
}
.labs-benefits-container-title {
  max-width: 505px;
  margin-right: 3.3vw;
  //margin-right: 55px;
  align-items: flex-start;
  span {
    line-height: 53px;
    @media screen and (max-width: 600px) {
      line-height: 37px;

    }
  }
  @media only screen and (min-width: 601px) and (max-width: 1100px) {
    width: auto;
    margin-bottom: 50px;

  }
    @media screen and (max-width: 600px) {
    width: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}
.labs-benefits-container-info-block {
  max-width: 682px;
  @media only screen and (min-width: 601px) and (max-width: 1100px) {
    width: auto;

  }
    @media screen and (max-width: 600px) {
    width: auto;
    padding-top: 0;
  }
  .labs-benefits-container-info-block-first-title {
    //margin-bottom: 12.45vw;
    margin-bottom: 115px;
      @media screen and (max-width: 600px) {
        margin-bottom: 150px;
        line-height: 26px;
      }
      span {
        line-height: 35px;
        //letter-spacing: 0.5px;
        @media screen and(max-width: 600px) {
          line-height: 26px;
        }
      }
    }
  .labs-benefits-container-info-block-second-title {
    //margin-bottom: 93px;
    //margin-bottom: 5.95vw;
    margin-bottom: 91px;
    @media screen and (max-width: 600px) {
      margin-bottom: 40px;
    }
  }
  .labs-benefits-container-info-block-works-container {
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 69px;
    grid-column-gap: 33px;
    margin-bottom: 149px;
    @media screen and (min-width: 601px) and (max-width: 1100px) {
      //display: grid;
      //grid-template-columns: 1fr 1fr;
      //grid-row-gap: 60px;
      //grid-column-gap: 60px;
    }
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
    .labs-benefits-container-info-block-work {
      max-width: 326px;
      @media screen and (min-width: 601px) and (max-width: 1100px) {
        width: auto;
      }
      @media screen and (max-width: 600px) {
        margin-bottom: 60px;
        width: auto;
      }
      .first-item-img {
        width: 47px;
        height: 47px;
        margin-bottom: 15px;
      }
      .labs-benefits-list-item-first {
        //margin-bottom: .9vw;
        margin-bottom: 9px;
        @media screen and (max-width: 600px) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.two-column-right-second-list-title {
  //margin-bottom: 93px;
  margin-bottom: 5.95vw;
  @media screen and (max-width: 600px) {
    margin-bottom: 40px;

  }
}

.two-column-submit-your-resume {
  margin-bottom: 45px;
  margin-top: 0;
  @media screen and (max-width: 600px) {
    margin-bottom: 20px;

  }
}
