.labs-benefits-container {
  padding: 0 12vw;
  display: flex;
  margin-bottom: 200px;
  @media screen and (max-width: 600px) {
    padding: 0 43px;
    flex-direction: column;
    margin-bottom: 170px;
  }
}

.labs-benefits-title {
  //margin-bottom: 180px;
  padding-left: 10vw;
  @media screen and (max-width: 600px) {
    margin-bottom: 50px;
  }
}
.labs-benefits-container-title {
  width: 35vw;
  margin-right: 3.3vw;
  //margin-right: 55px;
  align-items: flex-start;
  @media screen and (max-width: 600px) {
    width: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}
.labs-benefits-container-info-block {
  padding-top: 3.4vw;
  //padding-top: 55px;
  width: 49.1vw;
  @media screen and (max-width: 600px) {
    width: auto;
    padding-top: 0;
  }
  .labs-benefits-container-info-block-first-title {
    margin-bottom: 12.45vw;
    //margin-bottom: 200px;
      @media screen and (max-width: 600px) {
        margin-bottom: 150px;
        line-height: 26px;
      }
      span {
        line-height: 35px;
        //letter-spacing: 0.5px;
        @media screen and(max-width: 600px) {
          line-height: 26px;
        }
      }
    }
  .labs-benefits-container-info-block-second-title {
    //margin-bottom: 93px;
    margin-bottom: 5.95vw;
    @media screen and (max-width: 600px) {
      margin-bottom: 40px;
    }
  }
  .labs-benefits-container-info-block-works-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    @media screen and (max-width: 600px) {
      flex-direction: column;
    }
    .labs-benefits-container-info-block-work {
      margin-bottom: 7.3vw;
      //margin-bottom: 118px;
      width: 18vw;
      @media screen and (max-width: 600px) {
        margin-bottom: 60px;
        width: auto;
      }
      .labs-benefits-list-item-first {
        margin-bottom: .9vw;
        //margin-bottom: 15px;
        @media screen and (max-width: 600px) {
          margin-bottom: 20px;
        }
      }
    }
  }
}

.two-column-right-second-list-title {
  //margin-bottom: 93px;
  margin-bottom: 5.95vw;
  @media screen and (max-width: 600px) {
    margin-bottom: 40px;

  }
}

.two-column-submit-your-resume {
  margin-bottom: 45px;
  margin-top: 0;
}
