.rounded-selectable-button {
  padding: 18px 31px;
  border-radius: 100px;
  border: 1px solid #cfcece;
  margin: 0 18px 30px 18px;
  cursor: pointer;
  @media only screen and (max-width: 600px) {
    padding: 12px 26px;
    margin: 0 0 20px 0;

  }
}

.rounded-selectable-button-selected {
  background-color: black;
}
