.start-up-screen-container {
  .startup-screen-header-subtitle {
    max-width: 858px;
  }
  .startup-screen-header-description {
    max-width: 613px;
  }
  .startup-screen-second-block-subtitle {
    max-width: 1014px;
  }
  .startup-screen-second-block-description {
    max-width: 877px;
  }
  .startup-screen-partners-subtitle {
    max-width: 929px;
  }

  .start-up-screen-color-block {
    padding: 67px 14vw;
    @media only screen and (max-width: 600px) {
      padding: 43px;
    }
  }
  .start-up-screen-image {
    width: 100vw;
    margin-bottom: 142px;
    height: 800px;
    background-color: #a7a7a7;
    @media only screen and (max-width: 600px) {
      height: 425px;
      margin-bottom: 117px;
    }
  }
  .spotify-icon {
    margin-left: 10px;
  }
}
