.opportunity-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vw 1.5vw;
  width: 34vw;
  cursor: pointer;
  border-bottom: 1px solid #efefef;
  &:hover {

    .opportunity-title-container {
      transform: translate(0, -15px) !important;
    }
    .opportunity-view-btn-container {

      .lowerMenu {
        border: 0 !important;
        transform: translate(0, -5px) !important;
        .lowerMenuBorder {
          width: 100% !important;
        }
      }
    }
  }

  &:first-of-type {
    padding-top: 0;
  }
  .opportunity-title-container {
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1);

    .opportunity-title-first {
      margin-bottom: 1.2vw;
      span {
        letter-spacing: .25vw;
        @media only screen and (max-width: 600px) {
          letter-spacing: 4px;
        }
      }
    }
    .opportunity-title-second {
      width: 27vw;
    }
  }
  .view-job {
    outline: none;
    border: 0;
    background: transparent;
    .opportunity-arrow {
      display: none;
    }
  }
}

@media only screen and (max-width: 600px) {
  .opportunity-container {
    padding: 7vw 3vw !important;
    .opportunity-title-container {
      .opportunity-title-first {
        margin-bottom: 5vw;
        span {
          font-size: 3vw !important;
          letter-spacing: 1vw !important;
        }
      }
      .opportunity-title-second {
        span {
          font-size: 4vw !important;
        }
      }
    }
    .view-job {
      .text-container {
        display: none;
        span {
          font-size: 1.5vw !important;
        }
      }
      .opportunity-arrow {
        display: block;
        height: 8vw;
      }
    }
  }
}
