.home-with-swiper {
  padding-left: 303px;
  //position: relative;
  margin-bottom: 302px;
  @media only screen and (max-width: 600px) {
    margin-bottom: 15vh;
  }
  .carousel-item {
    width: 335px;
    height: 530px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8px 19px;
    outline: none;
    //background-repeat: no-repeat;
    background-size: cover;
    @media only screen and (max-width: 600px) {
      height: 370px;
    }
  }
  @media only screen and (max-width: 1301px) {
    padding: 0 43px
  }
  .home-swiper {
    display: flex;
    position: relative;
    justify-content: space-between;
    //flex-wrap: wrap;
    padding-left: 41px;
    overflow: hidden;
    @media only screen and (max-width: 1101px) {
      flex-direction: column;
      align-items: center;
      padding-left: 0;
      display: initial;
    }
    .home-swiper-left-container {
      margin-right: 131px;
      @media only screen and (max-width: 600px) {
        margin-right: 0;
        margin-bottom: 50px;
      }
    }
    .home-swiper-buttons-container {
      display: flex;
      width: 110px;
      justify-content: space-between;
      margin-top: 50px;
      .home-swiper-button-container {
        width: 46px;
        height: 46px;
        //border-radius: 60px;
        background-color: black;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: .3s;
        &:hover {
          transform: translate(0, -5px) scale(1.01);
        }
        img {

        }
      }
    }


        .home-swiper-container {
          //display: flex;
          //width: 782px;
          width: 100%;
          margin: 0;
          padding: 0;
          //background-color: red;

          .swiper-container {
            width: 100%;

            .swiper-wrapper {
              //width: 50% !important;

            }
            .swiper-slide {
              //margin-right: 50px;
            }
          }
        }

    .home-with-swiper-description-description {
      width: 514px;
      @media screen and(max-width: 600px) {
        width: auto;
      }
    }
    .home-with-swiper-description-title {
      width: 425px;
      @media screen and(max-width: 600px) {
        width: auto;
      }
    }
    .home-swiper-description-data-component {
      margin-right: 50px;
      @media screen and(max-width: 600px) {
        margin-right: 0;
      }
    }
  }
}

.hover {
  cursor: grab;
}
