.home-with-swiper {
  padding-left: 303px;
  position: relative;
  .home-with-swiper-container {
    //display: inline-block;
    position: relative;

    padding-left: 41px;
    .home-swiper {
    }
    .home-with-swiper-description-description {
      width: 514px;
    }
    .home-with-swiper-description-title {
      width: 425px;
    }
  }
}
