.title-comp-container {
  display: flex;
  align-items: center;
  margin-bottom: 1.8vw;;
  padding-left: 12vw;
  .title-comp-divider {
    width: 2vw;
    height: 1px;
    background-color: black;
    margin-right: 2vw;
    position: relative;
    top: -2px;
  }
  .text-container {
    .text {
      letter-spacing: 0.25vw;
      line-height: 1.5vw;
    }
  }
}

@media only screen and (max-width: 600px) {
  .title-comp-container {
    padding-left: 10vw;
    .title-comp-divider {
      width: 12vw;
      margin-right: 8vw;
    }
    .text-container {
      width: 50vw;
      .text {
        font-size: 3vw !important;
        letter-spacing: 1vw;
        line-height: 20px;
      }
    }
  }
}

