.title-comp-container {
  display: flex;
  align-items: center;
  padding-left: 10vw;
  margin-bottom: 10vw;
  //margin-bottom: 157px;
  @media screen and (max-width: 600px) {
    margin-bottom: 50px;
    padding: 0 43px;
  }
    .title-comp-divider {
    width: 58px;
    height: 1px;
    background-color: black;
    margin-right: 2vw;
    position: relative;
    top: -2px;
  }
  .text-container {
    .text {
      letter-spacing: 0.25vw;
      line-height: 1.5vw;
    }
  }
}

@media only screen and (max-width: 600px) {
  .title-comp-container {
    padding-left: 10vw;
    .title-comp-divider {
      width: 12vw;
      margin-right: 8vw;
    }
    .text-container {
      width: 50vw;
      .text {
        font-size: 10px!important;
        letter-spacing: 2.7px;
        line-height: 20px;
      }
    }
  }
}

