.about-program-container {
  margin-bottom: 78px;
  width: 215px;

  .about-program-title {
    margin-bottom: 40px;
  }
  .about-program-divider {
    width: 188px;
    height: 2px;
    background-color: black;
    margin-bottom: 35px;
    @media only screen and (max-width: 600px) {
      width: 90px;
    }
  }
  .about-program-text {
  }

}
