.about-program-container {
  margin-bottom: 78px;
  width: 215px;
  @media only screen and (min-width: 601px) and (max-width: 1250px) {
    width: 120px;
  }
    @media only screen and (max-width: 600px) {
    width: 90px;
  }

  .about-program-title {
    margin-bottom: 40px;
    @media only screen and (max-width: 600px) {
      margin-bottom: 20px;
    }
  }
  .about-program-divider {
    width: 188px;
    height: 2px;
    background-color: black;
    margin-bottom: 35px;
    @media only screen and (max-width: 600px) {
      width: 90px;
      margin-bottom: 20px;

    }
  }
  .about-program-text {
  }

}
