.header-title-container {

  //padding: 11.6vw 0 0 27.5vw;
  padding:  200px 350px 0 441px;
  //padding: 186px 0 0 441px;
  //width: 676px;
  //width: 36vw;
  margin-bottom: 225px;

  @media only screen and (min-width: 601px) and (max-width: 1350px){
    padding: 11.6vw 14vw 0 14vw;
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: center;
  }

  @media only screen and (max-width: 600px) {
    padding: 116px 44px 0 44px;
    margin-bottom: 110px;
  }

  @media only screen and (max-width: 600px) {
    padding: 116px 44px 0 44px;
    //width: 75vw;
    margin-bottom: 110px;
  }
  .header-title-main-title {
    //margin-bottom: 1.8vw;
    max-width: 676px;

    margin-bottom: 30px;
    span {
      letter-spacing: 4px;
    }
    @media only screen and (max-width: 600px) {
      width: 75vw;

      margin-bottom: 48px;
    }
  }
  .header-title-subtitle {
    //margin-bottom: 2.5vw;
    margin-bottom: 40px;
    max-width: 676px;

    span {
      //line-height: 4.7vw;
      //background-color: re;
      line-height: 80px;
      @media screen and(max-width: 600px) {
        line-height: 50px;
      }
    }
    @media only screen and (max-width: 600px) {
      margin-bottom: 42px;
      width: 75vw;

    }
  }

  .header-title-description {
    max-width: 676px;
    span {
      line-height: 30px;
      @media screen and(max-width: 600px) {
        line-height: 26px;
      }
    }
    @media screen and(max-width: 600px) {
      width: 75vw;
    }
  }
}
