.header-title-container {
  padding: 10vw 0 0 26.1vw;
  width: 35vw;
  margin-bottom: 225px;

  @media only screen and (max-width: 600px) {
    padding: 200px 44px 0 44px;
    width: 75vw;
    margin-bottom: 110px;
  }
  .header-title-main-title {
    margin-bottom: 1.8vw;
    span {
      letter-spacing: 4px;
    }
    @media only screen and (max-width: 600px) {
      margin-bottom: 48px;
    }
  }
  .header-title-subtitle {
    margin-bottom: 150px;
    span {
      letter-spacing: 4px;
      line-height: 80px;
      @media screen and(max-width: 600px) {
        line-height: 50px;
      }
    }
    @media only screen and (max-width: 600px) {
      margin-bottom: 42px;
    }
  }

  .header-title-description {
    span {
      line-height: 35px;
      @media screen and(max-width: 600px) {
        line-height: 26px;
      }
    }
  }
}
