.logo-container {
  display: flex;
  align-items: flex-end;
}

.logo-circle {
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-left: 4px;
  @media only screen and (max-width: 600px) {
    width: 6px;
    height: 6px;
    border-radius: 6px;
  }
}
