.header-second-title-container {
  padding: 124px 0 0 215px;
  margin-bottom: 184px;
  width: 700px;
    @media only screen and (max-width: 600px) {
    padding: 142px 43px 0 43px;
    width: 75vw;
    margin-bottom: 287px;
  }
  .header-second-main-title {
    letter-spacing: 4px;
    margin-bottom: 1.4vw;
    @media only screen and (max-width: 600px) {
      margin-bottom: 48px;
    }
  }
  .header-second-subtitle {
    margin-bottom: 2.4vw;
    @media only screen and (max-width: 600px) {
      margin-bottom: 42px;
    }
  }
}
