.community-partner-container-wrapper {
  padding: 25px;
}

.community-partner-container {
  border: 1px solid #cdcdcd;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 401px;
  //height: 401px;
  min-width: 401px;
  min-height: 401px;
  @media only screen and (min-width: 601px) and (max-width: 1350px) {
    //width: 400px;
    //height: 400px;
  }
    .community-partner-info-container {
    //padding: 3vw 4.9vw 0 3.7vw;
      padding: 45px 60px 0 55px;
  }
  @media only screen and (max-width: 600px) {
    width: auto !important;
    margin-bottom: 15vw;
    .community-partner-info-container {
      padding: 8vw;
    }
  }
  .community-partner-btn-container {
    display: flex;
    justify-content: flex-end;
  }
  .community-partner-subtitle {
    //width: 370px;
    //margin-top: 1vw;
    @media only screen and (max-width: 600px) {
      width: auto;
      margin-top: 3vw;
    }
    @media only screen and (min-width: 601px) and (max-width: 1350px) {
      width: auto;
    }
  }
}

.community-partner-btn {
  padding: 22px 25px;
}
