.for-brands-container {
  .for-startup-programs-collaboration-title {
    max-width: 512px;
    margin-bottom: 52px;
  }
  .for-startup-programs-collaboration-description {
    max-width: 502px;
    margin-bottom: 60px;
  }
  .for-startup-programs-drive-subtitle {
    max-width: 806px;
  }
  .for-startup-programs-future-description, .for-startup-programs-future-title {
    max-width: 488px;
  }
  .for-startup-programs-future-description {
    margin-bottom: 63px;
  }
  .for-startup-programs-future-title {
    margin-bottom: 66px;
  }
  .for-startup-programs-access-image {
    max-width: 750px;
    width: auto;
  }
  .for-brands-color-block {
    padding: 67px 14vw;
    @media only screen and (max-width: 600px) {
      padding: 43px;
    }
  }
}
