.connect-with-us-container {
  header {
    display: flex;
    padding: 0 0 0 170px;
    margin-bottom: 184px;
    position: relative;
    @media screen and (max-width: 600px) {
      padding: 0 0 0 43px;
      margin-bottom: 94px;
      flex-direction: column;
    }
    .connect-with-us-header-info {
      margin-right: 230px;
      display: flex;
      flex-direction: column;
      padding-bottom: 40px;
      justify-content: flex-end;
      @media screen and (max-width: 600px) {
        margin-right: 0;
      }
    }
    img {
      height: 750px;
      width: 100%;
      background-color: grey;
      @media screen and (max-width: 600px) {
        height: 427px;
      }
    }
  }
  .connect-with-me-about-container {
    padding: 0 9vw;
    margin-bottom: 186px;
    @media screen and (max-width: 600px) {
      padding: 0 43px;
      margin-bottom: 94px;
    }
    .connect-with-me-about-title {
      margin-bottom: 96px;
      padding-left: 0;
      span {
        letter-spacing: .25vw;
        @media only screen and (max-width: 600px) {
          letter-spacing: 4px;
        }
      }
    }
    .connect-with-me-about-interests {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 110px;
      padding-left: 1vw;
      @media screen and (max-width: 600px) {
        justify-content: space-between;
        margin-bottom: 70px;
      }
    }
    .form {
      padding: 0 2.1vw;
      .form-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 23px;
        @media screen and (max-width: 600px) {
          flex-direction: column;
          margin-bottom: 0;
        }
        .container {
          @media screen and (max-width: 600px) {
            margin-bottom: 35px;
          }
        }
      }

    }
  }

.full-image {
    width: 100vw;
    height: 800px;
    background-color: #a7a7a7;
    margin-bottom: 207px;
    @media screen and (max-width: 600px) {
      margin-bottom: 111px;
    }
  }
}

