.industry-partners-screen {
  padding-bottom: 153px;
  .industry-last-block-image {
    max-width: 745px;
    width: auto;
  }
  .industry-last-image-block-description {
    max-width: 635px;
  }
  .industry-last-image-block-title {
    max-width: 622px;
  }
  .industry-perls-subtitle {
    max-width: 1180px;
  }
  .industry-partners-header-title {
    max-width: 910px;
  }
}
