.industry-partners-screen {
  padding-bottom: 153px;
  .industry-last-image-block-description {
    max-width: 635px;
  }
  .industry-last-image-block-title {
    max-width: 622px;
  }
  .industry-perls-subtitle {
    max-width: 1180px;
  }
  .industry-partners-header-title {
    max-width: 1200px;
  }
  //.eco-partner-color-block {
  //  padding: 67px 14vw;
  //  @media only screen and (max-width: 600px) {
  //    padding: 43px;
  //  }
  //}
}
