.menu-main-container{
  display: flex;
  &:hover .sub-routs {
    display: flex;
  }
  :hover {
    .title {
      color: #ffc4af
    }
  }
  .menu-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    height: 4vw;
    .divider {
      width: 1px;
      height: 1.5vw;
      background-color: #000;
      margin-right: 1vw
    }
    .title {
      font-size: 11px;
      letter-spacing: 2.8px;
      margin-right: 1vw;
    }
  }
  .sub-routs {
    display: none;
    //display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 0 #e0e0e0;
    position: absolute;
    top: 8vw;
    padding: 2vw 0;
    background-color: white;
    &:hover .menu-main-container {
        color: #ffc4af;
        background-color: red;
    }
  }
}

