.menu-screen-top-column-container {
  width: 321px;
  margin-right: 135px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  .menu-screen-image {
    height: 2vw;
    margin-bottom: 30px;
  }
  div {
    img {
      height: 2vw;
    }
  }
  .black-menu-image {
    width: 27px;
    height: 27px;
  }
  .subtitle-arrow-container {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    transition: 1s;
    &:hover {
      opacity: .6;
    }
  }
  .black-menu-screen-subtitle {
    //transition: 1s;
    //&:hover {
    //  opacity: .6;
    //}
  }
}
