.report-bug-container {
  padding: 65px 62px 62px 62px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  position: relative;
  @media screen and (max-width: 600px) {
    padding: 30px 30px 60px 30px;
  }
  .report-a-bug-button {
    padding: 13px 21px;
  }
    .report-bug-left-container {
    max-width: 453px;
    @media screen and (max-width: 600px) {
      width: auto;
    }
      .btn-container {
        display: flex;
        justify-content: flex-start;
        @media screen and (max-width: 600px) {
          justify-content: center;
        }
      }
    .first-input {
      margin-bottom: 40px;
      @media screen and (max-width: 600px) {
        margin-bottom: 45px;
      }
    }
    .second-input {
      margin-bottom: 24px;
      @media screen and (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
    .third-input {
      margin-bottom: 25px;
      .buttonContainer {
        .textarea {
          textarea {
            min-height: 110px !important;
          }
        }
      }
      @media screen and (max-width: 600px) {
        margin-bottom: 20px;
      }
    }
    .screenshot-container {
      display: flex;
      align-items: center;
      position: relative;
      margin-bottom: 2.9vw;
      @media screen and (max-width: 600px) {
        margin-bottom: 50px;

      }
        img {
        width: 2.3vw;
        height: 1.7vw;
        margin-right: .85vw;
          @media screen and (max-width: 600px) {
            width: 28px;
            height: 20px;
            margin-right: 10px;
          }
        }
      .screenshot-text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }
  .report-bug-right-container {
    margin-left: 77px;
    @media screen and (max-width: 600px) {
      display: none;
    }
    img {
      max-width: 734px;
      object-fit: fill;
    }
  }
}
//.ReactModal__Content, .ReactModal__Content--after-open {
//  background-color: transparent !important;
//  border: 0 !important;
//}
