.text-submit {
  margin-top: 7vw;
  @media screen and (max-width: 600px) {
    margin-top: 10vw;
  }
  .text {
    border-bottom: 2px solid;
    cursor: pointer;
    @media screen and (max-width: 600px) {
      font-size: 4vw !important;
      padding-bottom: 5px;
    }
    &:hover {
      color: grey;
    }
  }
}
