.first-map-item-container {
  border-bottom: 1px solid #cdcdcd;
  padding-bottom: 2.2vw;
  margin-bottom: 3.85vw;
  width: 20.4vw;
  @media screen and (max-width: 600px) {
    width: auto;
    border-bottom-width: 0;
    padding: 0;
    margin-bottom: 60px;
  }
}
