
.menu-container {
  display: flex;
  flex-direction: row;
  background-color: white;
}
.bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 6.6vw;
  border-bottom: 1px solid #cdcdcd;
  background-color: white;

}
.header-container {
  .bar-container {
    .logo {
      cursor: pointer;
      height: 41px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .header-container {
    //display: none;
    .bar-container {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        padding: 4vw;
        //justify-content: flex-end;
        img {
          height: 5vw;
        }
        .menu-container {
          display: none;
        }
      }
    }
  }
}
