
.menu-container {
  display: flex;
  flex-direction: row;
}
.bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 10vw;
  border-bottom: 1px solid grey;
}
.header-container {
  .bar-container {
    .logo {
      height: 2vw;
    }
  }
}

@media only screen and (max-width: 600px) {
  .header-container {
    //display: none;
  }
}
