.menu-container-wrapper {
  display: flex;
  @media only screen and (min-width: 601px) and (max-width: 1100px) {
    width: 100%;
  }
}

.menu-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  z-index: 1;
  @media only screen and (min-width: 601px) and (max-width: 1100px) {
   width: 100%;
    justify-content: center;
  }
}
.bar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  //padding: 10px 6.6vw;
  padding: 10px 118px;
  border-bottom: 1px solid #cdcdcd;
  background-color: white;
    @media only screen and (min-width: 601px) and (max-width: 1100px) {
      //flex-direction: column;
      //align-items: flex-start;
      //justify-content: space-between;
      padding: 10px 10px
    }
  }
.second-bar-container {
  padding: 0 120px;
  @media only screen and (min-width: 601px) and (max-width: 1100px) {
    padding: 0 50px;

    //padding: 1vw 6.6vw;
  }
}
.header-container {
  //@media only screen and (min-width: 601px) and (max-width: 1100px) {
  //  padding: 1vw 6.6vw;
  //}
  .bar-container {
    .logo-container {
      cursor: pointer;
      height: 41px;
      //height: 2.6vw;
      @media only screen and (min-width: 601px) and (max-width: 1100px) {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .header-container {
    //display: none;
    .bar-container {
      &:nth-child(1) {
        display: none;
      }
      &:nth-child(2) {
        padding: 4vw;
        //justify-content: flex-end;
        img {
          height: 5vw;
        }
        .menu-container {
          display: none;
        }
      }
    }
  }
}
