.subtitle-comp-container {
  padding-left: 14vw;
  margin: 4vw 0;
  width: 54vw;
  @media only screen and (max-width: 600px) {
    width: auto;
    padding-right: 20vw;
  }
  .text-container {
    .text {
      line-height: 3.9vw;
      letter-spacing: 0.1vw;
      @media only screen and (max-width: 600px) {
        line-height: normal;
      }
    }
  }
}

