.benefit-title-first-container {
  padding: 2vw 0;
  width: 31.5vw;
  margin-bottom: 5vw;
  //margin-right: 3x/vw;
  @media only screen and (max-width: 600px) {
    width: auto;
    margin-bottom: 95px;
  }
  .benefit-shape-image {
    width: 47px;
    height: 47px;
    margin-bottom: 8px;
  }
    .benefit-title-first {
      margin-bottom: 1.4vw;
      letter-spacing: 5px;
      @media only screen and (max-width: 600px) {
        margin-bottom: 22px;
      }
    }
    .benefit-title-second {
      margin-bottom: 1.4vw;
      @media only screen and (max-width: 600px) {
        margin-bottom: 24px;
      }
    }
  .benefit-title-third {
    line-height: 2.06vw;
    @media only screen and (max-width: 600px) {
      line-height: normal;
    }
  }

}
