.benefit-title-first-container {
  padding: 2vw 0;
  width: 25vw;
  margin-bottom: 5vw;
  margin-right: 10vw;
    .benefit-title-first {
      margin-bottom: 1vw;
    }
    .benefit-title-second {
      margin-bottom: 1vw;

    }

}
