.benefit-title-first-container {
  max-width: 526px;
  //margin-right: 3x/vw;
  @media only screen and (max-width: 600px) {
    width: auto;
    margin-bottom: 95px;
  }
  .benefit-shape-image {
    height: 47px;
    //height: 47px;
    width: 47px;
    margin-bottom: 25px;
  }
    .benefit-title-first {
      margin-bottom: 24px;
      span {
        letter-spacing: 4px;
        line-height: 20px;
      }
      @media only screen and (max-width: 600px) {
        margin-bottom: 22px;
      }
    }
    .benefit-title-second {
      margin-bottom: 24px;
      span {
        line-height: 35px;
        @media screen and(max-width: 600px) {
          line-height: 26px;
        }
      }
      @media only screen and (max-width: 600px) {
        margin-bottom: 24px;
      }
    }
  .benefit-title-third {
    span {
      line-height: 30px;
      @media only screen and (max-width: 600px) {
        line-height: 24px;
      }
    }
    @media only screen and (max-width: 600px) {
      line-height: normal;
    }
  }

}
