.innovator-container {
  .innovator-feature-gain-container {
    padding-left: 10vw;
  }
  .innovator-feature-steps-image {
    max-width: 751px;
    width: auto;
  }
  .innovator-feature-header-subtitle {
    max-width: 832px;
  }
  .innovator-feature-header-description {
    max-width: 613px;
  }
  .innovator-feature-about-subtitle {
    max-width: 941px;
  }
  .innovator-feature-about-description {
    max-width: 550px;
  }
  .innovator-feature-gain-subtitle {
    max-width: 486px;
  }
  .innovator-feature-gain-list {
    max-width: 529px;
  }
  .innovator-feature-steps-subtitle {
    width: 622px;
    max-width: initial;

  }
  .innovator-feature-steps-left-container {
    margin-right: 80px!important;
  }
  .innovator-feature-steps-description {
    width: 604px;
    max-width: initial;
  }
  .innovator-image-block {
    width: 100vw;
    height: 800px;
    background-color: #a7a7a7;
    margin-bottom: 150px;
  }
}
