.portfolio-container {

  .portfolio-color-block-title {
    max-width: 674px;
  }
  .portfolio-section-info {
    padding: 9vw 12.5vw 0 12.5vw;
    @media screen and (max-width: 600px) {
      padding: 114px 43px 143px 43px;
    }
    .portfolio-title-first {
        margin-bottom: 1.5vw;
      @media screen and (max-width: 600px) {
        margin-bottom: 48px;
      }
    }
    .portfolio-title-second {
      width: 42vw;
      margin-bottom: 90px;
      span {
        line-height: 75px;
      }
      @media screen and (max-width: 600px) {
        width: auto;
        margin-bottom: 15vw;
        line-height: 50px;
      }
    }
    .portfolio-startups-container {
      position: relative;
      left: 5vw;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 7.5vw;
      //padding-right: 5vw;
      flex-wrap: wrap;
    }

  }
  .companies-container {
    margin-bottom: 10vw;
    padding: 0 10vw;
  }
  .portfolio-color-block {
    margin-bottom: 0;
  }
  //.block-container {
  //  padding: 6vw 10vw;
  //  background-color: #263da8;
  //  display: flex;
  //  justify-content: space-between;
  //  align-items: center;
  //  @media screen and (max-width: 600px) {
  //    flex-direction: column;
  //    padding: 20vw 12vw;
  //    align-items: flex-start;
  //    margin-bottom: 40vw;
  //  }
  //  .block-container-history {
  //    @media screen and (max-width: 600px) {
  //      margin-bottom: 20vw;
  //    }
  //  }
  //  .block-container-connect {
  //
  //  }
  //}
}
