.labs-join-title {
  margin-bottom: 160px;
  @media screen and (max-width: 600px) {
    margin-bottom: 50px;
  }
}

.labs-join-container {
  margin-bottom: 230px;

  .labs-join-partners-list {
    display: grid;
    justify-content: space-between;
    margin-top: 10.4vw;
    //margin-top: 166px;
    padding: 0 11vw;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-row-gap: 40px;
    grid-column-gap: 40px;
    flex-wrap: wrap;
    @media only screen and (min-width: 601px) and (max-width: 1100px) {
      flex-direction: column;
      //grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 600px) {
      padding: 0 43px;
      flex-direction: column;

    }
    @media screen and (max-width: 1100px)  {
      grid-template-columns: 1fr;

    }
  }
  .program-community-list-partner-subtitle {
    width: 62vw;
    //width: 929px;

    padding: 0 14vw;
    @media screen and (max-width: 600px) {
      padding: 0 43px;
      width: auto;
    }
  }
  .labs-join-schedule-container {
    display: flex;
    justify-content: flex-end;
    padding: 0 10vw;
    @media screen and (max-width: 600px) {
      padding: 0 43px;

    }
  }
}
