.footer-container {
  .top-footer-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6.5vw 7vw 6vw 7vw;
    background-color: #fbfbfb;
    .menu-columns {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 0 20px 4.4vw;
    }
    .send-email-updates-container {
      padding-top: .5vw;
      width: 20vw;
      .logo {
        cursor: pointer;
        height: 3.1vw;
      }
    }
  }
  .bottom-footer-bar {
    display: flex;
    flex-direction: row;
    position: relative;
    .left-footer-bar {
      //padding: 60px 160px;
      padding: 3.8vw 11.4vw;
      width: 100%;
      background-color: black;
      display: flex;
      flex-direction: row;
      .privacy-container {
        display: flex;
        flex-direction: row;
        margin-left: 10vw;
      }
    }
    .socials-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 2vw;
      a {
        cursor: pointer;
        img {
          height: 2vw;
          margin: 0 1vw;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .footer-container {
    .top-footer-bar {
      padding: 45px 43px 0 43px;
      position: relative;
      .menu-columns {
        flex-direction: column;
        width: 100%;
        padding: 0;
      }
      .send-email-updates-container {
        display: none;
        }
      }

    .bottom-footer-bar {
      flex-direction: column-reverse;
      .left-footer-bar {
        background-color: white;
        flex-direction: column-reverse;
        padding: 9vw;
        width: auto;
        .privacy-container {
          justify-content: space-between;
          margin-bottom: 4vw;
          margin-left: 0;
          div {
            margin: 0 !important;
            span {
              letter-spacing: 3.3px;
              font-size: 10px !important;
            }
          }
        }
        div {
          span {
            color: black !important;
          }
        }
      }
      .socials-container {
        padding: 20px 0;
        justify-content: center;
        background-color: black;
        a {
          margin: 0 10px;
          img {
            height: 27px
          }
        }
      }
    }
  }
}
