.community-partner-container {
  border: 1px solid #cdcdcd;
  //width: 18vw;
  .community-partner-info-container {
    padding: 3vw;
  }
  @media only screen and (max-width: 600px) {
    width: auto;
    margin-bottom: 15vw;
    .community-partner-info-container {
      padding: 8vw;
    }
  }
  .community-partner-btn-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 3vw;
  }
  .community-partner-subtitle {
    width: 15vw;
    margin-top: 1vw;
    @media only screen and (max-width: 600px) {
      width: auto;
      margin-top: 3vw;
    }
  }
}
