.block-container {
  padding: 6vw 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @media screen and (max-width: 600px) {
    flex-direction: column;
    padding: 20vw 12vw;
    align-items: flex-start;
    margin-bottom: 40vw;
  }
  .block-container-history {
    @media screen and (max-width: 600px) {
      margin-bottom: 20vw;
    }
  }
  .block-container-connect {

  }
}
