.block-container {
  padding: 100px 10vw 100px 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 230px;
  cursor: pointer;
  &:hover {
    .block-container-history, .block-container-connect {
      transform: translate(0, -10px)!important;
    }
    div {
      .color-block-image {
        transform: translate(0, -10px)!important;
        //transform: translate(20px, -5px)!important;
      }
    }
  }
  @media screen and (max-width: 600px) {
    margin-bottom: 100px;
  }
  div {
    .color-block-image {
      height: 28px;
      margin-left: 38px;
      transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1) !important;
      @media screen and (max-width: 600px) {
        height: 20px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
    padding: 20vw 12vw;
    align-items: flex-start;
    margin-bottom: 40vw;
  }
  .block-container-history {
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1) !important;

    @media screen and (max-width: 600px) {
      margin-bottom: 20vw;
    }
  }
  .block-container-connect {
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1) !important;

  }
}


.middle {
  padding: 67px 14vw;
  @media only screen and (max-width: 600px) {
    padding: 43px;
  }
}
