.block-container {
  padding: 6vw 14vw 6.7vw 10vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 230px;
  @media screen and (max-width: 600px) {
    margin-bottom: 100px;
  }
  div {
    .color-block-image {
      height: 1.5vw;
      margin-left: 2.4vw;
      @media screen and (max-width: 600px) {
        height: 20px;
      }
    }
  }
  @media screen and (max-width: 600px) {
    flex-direction: column;
    padding: 20vw 12vw;
    align-items: flex-start;
    margin-bottom: 40vw;
  }
  .block-container-history {
    @media screen and (max-width: 600px) {
      margin-bottom: 20vw;
    }
  }
  .block-container-connect {

  }
}
