.events-container {
  header {
    display: flex;
    margin-bottom: 184px;
    @media screen and (max-width: 600px) {
      flex-direction: column-reverse;
      padding: 87px 0 0 43px;
    }
    .events-header-block {
      padding: 435px 168px 90px;
        @media screen and (max-width: 600px) {
          padding: 0;
        }
      }
    img {
      background-color: #a7a7a7;
      width: 100%;
      height: 735px;
      @media screen and (max-width: 600px) {
        height: 240px;
        margin-bottom: 154px;
      }
    }
  }
  .events-header-container {
    padding: 5.5vw 10vw 3vw 10vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
    @media screen and (max-width: 600px) {
      height: 80vh;
      background-size: initial;
    }
    .join-us {
      padding-top: 20vw;
      margin-bottom: 1.7vw;
      span {
        letter-spacing: .25vw;
        @media only screen and (max-width: 600px) {
          letter-spacing: 4px;
        }
      }
    }
    .upcoming-events {
      width: 20vw;
    }
  }
  .events-color-block {
    margin-bottom: 7vw;
    @media screen and (max-width: 600px) {
      margin-bottom: 20vw;
    }
   }
  .events-list-container {
    padding: 0 8vw 8vw 8vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (max-width: 600px) {
      padding-bottom: 20vw;
      margin-bottom: 0;
    }
    .events-list {
      margin-bottom: 8vw;
      @media screen and (max-width: 600px) {
        margin: 0;
      }
    }
  }
}
