.menu-main-container{
  display: flex;
  &:hover .sub-routs {
    display: flex;
  }
  :hover {
    .title {
      color: grey;
    }
  }
  .menu-item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    //height: 4vw;
    .divider {
      width: 1px;
      height: 1.5vw;
      background-color: #000;
      margin: 0 1.5vw
    }

  }
  .sub-routs {
    display: none;
    //display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px 0 #e0e0e0;
    position: absolute;
    top: 7vw;
    padding: 2vw 0;
    background-color: white;
    z-index: 1;
    &:hover .menu-main-container {
        color: #ffc4af;
        background-color: red;
    }
  }
}

