.for-founders-container {
  .for-founders-access-title {
    margin-bottom: 68px;
  }
  .for-founders-access-description {
    margin-bottom: 57px;
  }
  .for-founders-knowledge-title {
    margin-bottom: 92px;
  }
  .for-founders-knowledge-description {
    margin-bottom: 52px;
  }
  .for-founders-strategic-title {
    margin-bottom: 85px;
  }
  .for-founders-strategic-description {
    margin-bottom: 80px;
  }


  .for-founder-header-subtitle {
    max-width: 732px;
  }
  .for-founder-header-description {
    max-width: 703px;
  }
  .for-founders-color-block {
    padding: 67px 14vw;
    @media only screen and (max-width: 600px) {
      padding: 43px;
    }
  }
}
