.for-students-container {
  .for-students-color-block {
    padding: 67px 14vw;
    @media only screen and (max-width: 600px) {
      padding: 43px;
    }
  }
  .for-students-supporting-subtitle {
    max-width: 1097px;
  }
  .for-students-education-image {
    width: 750px;
    height: 633px;
  }
}
